html,
body {
    height: 100%;
}
body {
    background-image: url("/images/background.jpeg");
}
/*.wrap {*/
    /*min-height: 100%;*/
    /*height: auto;*/
    /*margin: 0 auto -60px;*/
    /*padding: 0 0 60px;*/
    /*max-width: 1100px;*/
/*}*/

/*.wrap > .container {*/
    /*padding: 70px 15px 20px;*/
/*}*/

.container {
    width: 100%;
}


.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    margin: 0 0 15px 0;
}

.wrapper {
    width: 100%;
    max-width: 1200px;
    min-height: 100%;
    margin: 0 auto;
    height: auto;
    position: relative;
}

.content {
    padding: 15px;
    margin-bottom: 15px;
}
.footer p {
    vertical-align: middle;
    display: table-cell;
    width: 100%;
}
.footer {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
}
.footer-text {
    text-align: center;
    height: 60px;
    display: table;
    width: 100%;
}
.nursery-information {
    padding: 15px;
    text-align: center;
    text-transform: capitalize;
}

.common-border {
    border-radius: 10px;
    border: solid 1px #fff;
    box-shadow: 0 0 10px 2px #ccc;
}

.common-background {
    background: rgba(255,255,255,0.65);
}
#main-slider .item {
    /*position: relative;*/
    height: 350px;
    width: 100%;
}
.item > img {
    /*min-height: 100%;*/
    /*min-width: 100%;*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
    width: 100%;
}
.carousel-fade .carousel-inner .item {
    -webkit-transition-property: opacity;
    transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
    z-index: 2;
}